<!doctype html>
<html ng-app="OptionsModule" ng-csp>
  <head>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/options.css">
    <script src="js/utils.js" type="text/javascript"></script>
    <script src="js/angular.js"></script>
    <script src="js/options-controller.js"></script>
  </head>
  <body ng-controller="OptionsController">
    <form name="options" id="options">
      <ng-options-header header="Default Options">
        The options defined here will be used as defaults for every new page. <br />
        These will not change the current page options, use the Pages section bellow for that.
      </ng-options-header>

      <input ng-label="Shrink Icon:" ng-model="form.shrinkIcon" type="checkbox" required />

      <ng-label label="Background:">
        <input type="text" ng-model="form.font.background" size="5" maxlength="7" placeholder="e.g. #000" required />
        <input ng-label-target type="color" ng-model="form.font.background" required />
      </ng-label>

      <ng-label label="Text:">
        <input type="text" ng-model="form.font.color" size="5" maxlength="7" placeholder="e.g. #000" required />
        <input ng-label-target type="color" ng-model="form.font.color" required />
      </ng-label>

      <!-- <select ng-label="Log level:" ng-model="form.logLevel">
        <option ng-repeat="(level, name) in ['disabled', 'errors', 'warnings', 'info', 'debug']" value="{{level}}">
          {{level}} - {{name}}
        </option>
      </select> -->

      <ng-label label="Log Level:">
        <input ng-model="form.logLevel" ng-label-target type="number" min="0" max="4" step="1" />
      </ng-label>

      <hr />

      <ng-options-header header="Pages">
        Change the individual styles and options of every page.
      </ng-options-header>

      <div ng-repeat="page in form.pages" class="page">
        <input ng-label="Enabled:" type="checkbox" ng-model="page.enabled" required />

        <span ng-repeat="url in page.urls track by $index" ng-class="{'multi-row':!$first}" for="urls-{{$index}}" class="ng-label">
          <label class="ng-label-text">URLs:</label>
          <span class="ng-label-content">
            <input id="urls-{{$index}}" type="text" ng-model="page.urls[$index]" class="big" />
            <span class="inline-commands">
              <a href="javascript:void(0)" ng-click="remove(page.urls, $index)" ng-class="{hidden:$last && $first}">remove</a>
              <a href="javascript:void(0)" ng-click="add(page.urls)"  ng-class="{hidden:!$last}">add</a>
            </span>
          </span>
        </span>

        <ng-label label="Selectors:">
          <div ng-repeat="selector in page.selectors track by $index">
            <input ng-label-target type="text" ng-model="page.selectors[$index]" class="big" />
            <span class="inline-commands">
              <a href="javascript:void(0)" ng-click="remove(page.selectors, $index)"ng-class="{hidden:$last && $first}">remove</a>
              <a href="javascript:void(0)" ng-click="add(page.selectors)"  ng-class="{hidden:!$last}">add</a>
            </span>
          </div>
        </ng-label>

        <ng-label label="Background:">
          <input type="text" ng-model="page.font.background" size="5" maxlength="7" placeholder="e.g. #000" required />
          <input ng-label-target type="color" ng-model="page.font.background" required />
        </ng-label>

        <ng-label label="Text:">
          <input type="text" ng-model="page.font.color" size="5" maxlength="7" placeholder="e.g. #000" required />
          <input ng-label-target type="color" ng-model="page.font.color" required />
        </ng-label>

        <ng-label label="Gradient:">
          <div ng-class="{hidden:page.font.gradient.length > 0}">
            <ng-gradient-point model="page.font.gradient[0]"></ng-gradient-point>
          </div>
          <div ng-class="{hidden:page.font.gradient.length === 0}">more yolo</div>
        </ng-label>

        <div class="page-commands">
          <a href="javascript:void(0)" ng-click="removePage($index)" ng-class="{hidden: $last && $first}">Remove Page</a>
          <a href="javascript:void(0)" ng-click="addPage($index + 1)">Add a New Page</a>
        </div>

      </div>
    </form>

    <div ng-class="{hidden:form.logLevel < 3}">
      <hr/>
      <h3>Debug View:</h3>
      <pre>form={{form | json}}</pre>
    </div>

  </body>
</html>