<!doctype html>
<html ng-app="OptionsModule" ng-csp>
  <head>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/options.css">
    <script src="js/utils.js" type="text/javascript"></script>
    <script src="js/angular.js"></script>
    <script src="js/options-controller.js"></script>
  </head>
  <body>
    <div ng-controller="OptionsController">

    <form name="options" id="options">
      <div ng-repeat="page in form.pages" class="page">
        <input ng-label="Enabled:" type="checkbox" ng-model="page.enabled" required />

        <span ng-repeat="url in page.urls track by $index" ng-class="{'multi-row':!$first}" for="urls-{{$index}}" class="ng-label">
          <label class="ng-label-text">URLs:</label>
          <span class="ng-label-content">
            <input id="urls-{{$index}}" type="text" ng-model="page.urls[$index]" class="big" />
            <span class="inline-commands">
              <a href="javascript:void(0)" ng-click="remove(page.urls, $index)" ng-show="$first !== $last">Remove URL</a>
              <a href="javascript:void(0)" ng-click="add(page.urls)"  ng-class="{hidden:!$last}">Add URL</a>
            </span>
          </span>
        </span>

        <ng-label label="Selectors:">
          <div ng-repeat="selector in page.selectors track by $index">
            <input ng-label-target type="text" ng-model="page.selectors[$index]" class="big" />
            <span class="inline-commands">
              <a href="javascript:void(0)" ng-click="remove(page.selectors, $index)">Remove Selector</a>
              <a href="javascript:void(0)" ng-click="add(page.selectors)"  ng-class="{hidden:!$last}">Add Selector</a>
            </span>
          </div>
        </ng-label>

        <ng-label label="Background:">
          <input type="text" ng-model="page.backgroundColor" size="5" maxlength="7" placeholder="e.g. #000" required />
          <input ng-label-target type="color" ng-model="page.backgroundColor" required />
        </ng-label>

        <ng-label label="Text:">
          <input type="text" ng-model="page.textColor" size="5" maxlength="7" placeholder="e.g. #000" required />
          <input ng-label-target type="color" ng-model="page.textColor" required />
        </ng-label>

        <div class="page-commands">
          <a href="javascript:void(0)" ng-click="removePage($index)">Remove Page</a>
          <a href="javascript:void(0)" ng-click="addPage($index + 1)">Add a New Page</a>
        </div>

      </div>
    </form>

    <hr/>
    Debug View:
    <pre>form={{form | json}}</pre>
    </div>
  </body>
</html>